@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.hide {
    display: none;
}


.gameArea {
    background-color: 
    rgba(131, 188, 223, 0.432);
    width: 100%;
    height: 100vh;
    margin: auto;  
}

.score {
    position: absolute;
    width: 100%;
    z-index: 100;
    background-color: transparent;
    color: rgb(221, 18, 58);
    text-align: center;
    height: 50px;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.startScreen {
    position: absolute;
    background-color: rgb(221, 18, 58);
    left: 40%;
    top: 100px;
    color: white;
    width: 20%;
    padding: 15px;
    box-shadow: 3px 4px 0px 0px #9fb4f2;
	background:linear-gradient(to bottom, #8282f0 5%, #476e9e 100%);
	background-color:#8282f0;
    border-radius: 20px;
    cursor: pointer;
    text-decoration:none;
	text-shadow:0px 1px 0px #283966;
    text-align: center;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.bird {
    position: absolute;
    top: 100px;
    left: 50px;
    width: 55px;
    height: 50px;
    line-height: 40px;
    font-size: 1.5em;
    background-image: url(bird.png);
    background-size: cover;
}

.wing {
    position: absolute;
    top: 10px;
    left: 0;
    background-color: rgb(76,36,131);
    width: 25px;
    height: 12px;
    border-radius: 5px;
}

.gameMessage {
    position: absolute;
    top: 10%;
    text-align: center;
    left: 38%;
    width: 24%;  
    border-top: 5px solid;
    border-bottom: 5px solid;
    border-image: linear-gradient(to right, darkblue, darkorchid) 1; 
    font-size: 2em;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.pipe {
    width: 100px;
    position: absolute;

}

.pipe-one {
    border-radius: 0px 0px 50px 50px;

}

.pipe-two {
    border-radius: 50px 50px 0px 0px ;
}